* {
  margin: 0;
  padding: 0;
}
.toggleBtn {
  display: none;
  color: orange;
  position: absolute;
  right: 20px;
  top: 30px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(17, 17, 37);
  /* padding: 30px; */
}

li {
  list-style: none;
  /* 불릿 제거 */
}
.logoAndImg {
  padding: 30px;
}
/* logo와 이름 */

.logoName {
  color: white;
  font-size: 20px;
  margin-left: 5px;
  font-weight: bold;
}
.logoColor {
  color: orange;
  font-size: 20px;
}
/* 메뉴선택 */
.info {
  display: flex;
  align-items: center;
}
.menuText {
  color: white;
  margin: 0 10px;
}

/* SNS */
.snsInfo {
  display: flex;
  align-items: center;
}
.snsInfo li {
  margin: 0 5px;
}
.facebook,
.twitter {
  color: white;
}

@media screen and (max-width: 750px) {
  /* 로고와 이미지 */
  nav {
    flex-direction: column;
  }

  .logoAndImg {
    flex-direction: row;
  }

  /* 메뉴 설명 */
  .info {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  .info li {
    width: 100%;
    padding: 10px 0;
  }
  .info li:hover {
    background: orange;
  }
  /* sns */
  .snsInfo {
    display: none;
    flex-direction: row;
    justify-content: center;
  }
  .menuText {
    align-items: center;
  }
  .toggleBtn {
    display: block;
  }
}
